/* colors variables */
:root{
  --white-bg:#FFFFFF;
  --black-bg:#000000;
  --white-text:#FFFFFF;
  --black-text:#000000;
  --orange-text:#FD6F00;
  --blog-bg:#F8F8F8;
  --gray-text:#424242;
  --deep-gray:#EDECEC;
}

/* comon css */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-bg);
    font-weight: 400;
    color: var(--black-text);
    letter-spacing: 3%;
    font-size: 21px;
}
body.dark{
    background-color: var(--black-bg);
    color: var(--white-text);
}
a{
    text-decoration: none;
    color: var(--black-text);
}
.dark a{
    color: var(--white-text);
}
li{
    list-style: none;
}
.primery-btn{
    min-width: 188px;
    padding: 16px;
    background-color: var(--orange-text);
    color: var(--white-text);
    border: none;
    border-radius: 5px;
    font-size: 21px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.container{
    width: 1420px;
    margin: 0 auto;
}
.title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.title-desc{
    font-size: 21px;
    text-align: center;
    margin: 0 auto;
    max-width: 932px;
}

.theme-change{
    width: 50px;
    height: 50px;
    background-color: #FD6F00;
    position: fixed;
    left: 0%;
    top: 50%;
    cursor: pointer;
}

/* header css */
header{
    margin-top: 60px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
}
.logo img{
    width: 279px;
}
.logo-dark{
    display: none ; !important
}
.dark .logo-dark{
    display: block;
}
.dark .logo-white{
    display: none;
}
nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
}
nav ul li a{
    font-size: 21px;
    padding: 10px 14px;
}

/* Hero Section */

.hero-section{
    padding-top: 120px;
    padding-bottom: 70px;
}

.hero-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hero-content h6{
    font-size: 24px;
    font-weight: 600;
}
.hero-content h5{
    font-size: 32px;
    font-weight: 600;
    color: var(--orange-text);
}
.hero-content h1{
    font-size: 100px;
    font-weight: 700;
    line-height: 120%;
}
.hero-content span{
    display: block;
    text-align: right;
}
.hero-content p{
    margin-top: 28px;
    margin-bottom: 22px;
}
.hero-img{
    text-align: center;
}
.hero-icon{
    margin-top: 36px;
}
.hero-icon ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.dark .hero-icon ul li a{
    background-color: var(--white-bg);
    overflow: hidden;
    display: block;
    aspect-ratio: 3/3;
    max-width: fit-content;
    padding: 10px;
    border-radius: 5px;
}
/* About section  */
.about-section{
    padding: 70px 0px;
}

.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-content .title,
.about-content .title-desc{
    text-align: left;
}
.skill-item h6{
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
}
.skill-bar{
    width: 100%;
    height: 12px;
    border-radius: 6px;
    background-color: var(--deep-gray);
    margin-top: 18px;
    position: relative;
}
.skill-bar::after{
    content: "";
    width: 90%;
    height: 100%;
    background-color: var(--orange-text);
    left: 0%;
    top: 0%;
    border-radius: 6px;
    position: absolute;
}
.skill-bar::before{
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--blog-bg);
    border: 3px solid var(--orange-text);
    left: 90%;
    border-radius: 50%;
    top: 50%;
    transform: translate(-20px , -50%);
    z-index: 1;
}
.skill-item:nth-child(2) .skill-bar::after{
    width: 80%;
}
.skill-item:nth-child(2) .skill-bar::before{
    left: 80%;
}
.skill-item:last-child .skill-bar::after{
    width: 70%;
}
.skill-item:last-child .skill-bar::before{
    left: 70%;
}

/* service section */

.service-section{
    padding: 70px 0px;
}
.service-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 31px;
    margin-top: 120px;
}
.service-item{
    padding: 57px 18px 50px 18px;
    background-color: var(--deep-gray);
    border-radius: 14px;
}
.service-item h6{
    font-size: 32px;
    font-weight: 600;
    margin: 26px 0px 15px 0px;
}
.service-item p{
    font-size: 19px;
}
.dark .service-item h6 ,
.dark .service-item p{
    color: var(--black-text);
}

/* Portfolio section */

.portfolio-section{
    padding: 70px 0px;
}
.portfolio-nav{
    margin: 60px 0px 120px 0px;
}
.portfolio-nav ul{
    display: flex;
    justify-content: center;
    gap: 22px;
}
.portfolio-nav ul li a{
    background-color: var(--deep-gray);
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid var(--gray-text);
    font-size: 24px;
}
.dark .portfolio-nav ul li a{
    color: var(--black-text);
}
.portfolio-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 44px;
}
.project-item img{
    width: 100%;
}
.project-item a h6{
    margin: 37px 0px 10px 0px;
    font-size: 19px;
    color: var(--orange-text);
}
.project-item a h3{
    font-size: 24px;
    font-weight: 700;
}
/* testimonial section */

.testimonial-section{
    padding: 70px 0px;
}
.testimonial-title{
    margin: 72px 0px;
}
.testimonial-items{
    margin: 0 auto;
    max-width: 1087px;
}
.testimonial-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: var(--deep-gray);
    padding: 55px 48px 53px 77px;
    position: relative;
}
.testimonial-img img{
    width: 235px;
    height: 235px;
    border-radius: 50%;
}
.testimonial-content p span{
    color: var(--orange-text);
    font-size: 32px;
    position: absolute;
    margin-top: 10px;
}
.testimonial-content p span:first-child{
    top: 12%;
    right: unset;
    left: 30%;
}
.testimonial-content p span:last-child{
    top: 46%;
    left: unset;
    right: 27%;
    
}
.testimonial-content p{
    color: var(--gray-text);
}
.testimonial-content h5{
    font-size: 24px;
    font-weight: 500;
    margin: 12px 0px;
}
.dark .testimonial-content h5{
    color: var(--black-text);
}
.testimonial-content h6{
    font-size: 19px;
    font-weight: 400;
}
.dark .testimonial-content h6{
    color: var(--black-text);
}
/* contact section */
.contact-section{
    padding: 70px 0px;
}

.contact-form form{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 70px 0px;
}
.contact-form input[type="text"]{
    padding: 22px 0px 22px 26px;
    width: 627px;
    outline: none;
    border: none;
    background-color: var(--deep-gray);
    border-radius: 14px;
}
/* Footer */
footer {
    background-color: var(--deep-gray);
    padding-top: 100px; 
}
.dark footer{
    background-color: var(--black-bg);
}
.footer-logo img{
    width: 242px;
    display: block;
    margin: 0 auto;
}
.footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 51px 0px 80px 0px;
}
.footer-nav ul li a{
    padding: 10px 14px;
}
.footer-social ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 62px;
}
.dark .footer-social ul li a{
    background-color: var(--white-bg);
    overflow: hidden;
    display: block;
    aspect-ratio: 3/3;
    max-width: fit-content;
    padding: 10px;
    border-radius: 5px;
}
.copyright p{
    padding: 26px 0px;
    background-color: var(--gray-text);
    text-align: center;
    color: var(--white-text);
}
.copyright a{
    color: #E86C0A;
}
